.track {
    position: relative;
    height: .8rem;
    background-color: transparent;
    border-radius: .4rem;
    display: flex;
}

.track-left,
.track-right {
    height: 100%;
    border-radius: 1.8rem;
}

.track-left {
    background-color: #4caf50;
    /* 默认左侧颜色 */
}

.track-right {
    background-color: #e0e0e0;
    /* 默认右侧颜色 */
    flex-grow: 1;
}

.thumb {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #fff;
    border: 0.3rem solid rgba(245, 137, 0, 1);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.tooltip {
    padding: .4rem .5rem;
    font-size: 1rem;
    color: rgba(245, 137, 0, 1);
    background: #FFF5D7;
    border: .1rem solid rgba(245, 137, 0, 1);
    border-radius: .6rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
    transform: translateX(-50%);
    width: max-content;
}

.tooltip::before,
.tooltip::after {
    position: absolute;
    bottom: -1.2rem;
    left: calc(50% - .5rem);
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: rgba(245, 137, 0, 1) transparent transparent;
    border-style: solid;
    border-width: .6rem;
    content: "";
}

.tooltip::after {
    bottom: -1.05rem;
    border-color: #FFF5D7 transparent transparent;
}