@font-face {
  font-family: 'FZLTZHJW';
  src: url('../assets/font/FZLTZHJW.TTF') format('truetype');
}



* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'FZLTZHJW', sans-serif;
}

input,
select {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2rem;
  font-size: 1.3rem;
  color: #2D2D2D;
  font-weight: 400;
}

input::-webkit-input-placeholder {
  color: rgba(45, 45, 45, 0.40);
  font-size: 1.3rem;
}

:root {
  --color-primary: #26b384;
}

input[type="radio"] {
  background-color: white;
  border: 0.1rem solid rgba(170, 170, 170, 1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 4px white;
  border: 0.1rem solid var(--color-primary);
}

/* 解决移动端a、input、label等标签点击后会出现背景阴影问题 */
a,
input,
label {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

select {
  background: url(../assets/svgs/icon_more.svg) no-repeat right center;
  background-size: 2rem 2rem;
}

select:required:invalid {
  color: rgba(45, 45, 45, 0.40);
  position: relative;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}