* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

i,
em {
  font-style: normal;
}

html {}

body {
  max-width: 750px;
  min-width: 320px;
  /*font-size:0.9em;*/
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  background: #fbfbe6;
}

ul,
li {
  list-style: none;
}

i,
em {
  font-style: normal
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  display: block;
  border: none;
  outline: none;
  font-size: .24rem;
  padding-top: 1px;
}

select {
  font-size: .24rem;
  padding-top: 1px;
}

.con {
  width: 100%;
  height: auto;
  min-height: 100%;
  /*background:white;*/
  overflow: hidden;
}

.con1 {
  width: 100%;
  height: auto;
  /*background:#fbfbe6;*/
  padding-bottom: 50px;
  overflow: hidden;
}

.con1_top {
  width: 100%;
  height: auto;
  /*box-shadow:0 4px 5px #e1d2b6;*/
  box-shadow: none;
}

.con1_top img {
  width: 100%;
  height: auto;
}

.con1_1 {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  /*  box-shadow: 2px 2px 4px rgba(62,0,0,0.35);*/
  box-sizing: border-box;
  position: relative;
  padding: 0.03rem;

  height: 5.12rem;
  background: url(../../images/d4/b3-t-bj.png) no-repeat top/100% auto;
  margin-top: 1.18rem;
  padding: .1rem .5rem 0;
}

.con1_name {
  font-size: 1.1em;
  padding: .33rem 0 .23rem 0;
}

.con1_name p {
  color: #4c4948;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
}

.con1_name p span,
.con1_name p i {
  display: block;
  float: left;
}

.con1_name p span:first-child,
.con1_sex p i {
  color: #4c4948;
}

.con1_name p i {
  width: 80px;
  height: 22px;
  border-bottom: 1px solid #4c4948;
  text-align: center;
}

.con1_s_title {
  font-size: 1.2em;
  color: #9f5727;
  background: #f8f4ef;
  font-weight: 100;
}

.con1_s_title p {
  margin-left: 6%;
  padding: 6px 0;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.con1_s_title p i {
  display: block;
  float: left;
}

.con1_s_title p span {
  display: block;
  float: left;
  font-size: 0.7em;
  margin-left: 6px;
}

.con1_sex {
  width: 100%;
  padding: .21rem 0;
  height: auto;
  overflow: hidden;
  font-size: 1.2em;
}

.con1_sex p {
  float: left;
  height: 30px;
  line-height: 30px;
  color: #1057a0;
}

.con1_sex p:last-child {
  float: right;
}

.con1_sex p i {
  display: block;
  color: ;
  float: left;
}

.con1_sex p span {
  display: block;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  margin-top: 3px;
  font-size: 1em;
  /*border: 1px solid #f4e6ca;*/
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  color: #9d9d9b;
}

.con1_sex p:first-child span {
  /*color:#9f5727;*/
  /*border:none;*/
  /*background: url(../../images/d3/x1bj.jpg) repeat-x;*/
  /*background-size: auto 100%;*/
  /*box-shadow: 2px 2px 4px rgba(135,68,17,0.3);*/
}

.con1_text1 {
  width: 100%;
  position: relative;
}

.con1_text1 h2 {
  padding: .22rem 0 .15rem;
  color: #411a00;
  font-size: .22rem;
  font-weight: normal;
  /*border-bottom:3px solid #f8f4ef;*/
  /*text-indent:6%;*/
  font-weight: bold;
}

.con1_text1_box {
  width: 100%;
  /*padding:15px 6%;*/
  color: #70706f;
  font-size: .255rem;
  /*  padding-bottom: .35rem;*/
  padding-left: .25rem;
  overflow: hidden;
  position: relative;
}

.con1_text1_box p {
  height: .4rem;
  line-height: .4rem;
  overflow: hidden;
  margin-top: .27rem
}

.con1_text1_box i {
  display: block;
  float: left;
  width: 1.91rem;
  color: #1057a0;
  font-weight: bold;
  font-size: .3rem;
}

.con1_text1_box span {
  display: block;
  float: left;
  width: 1.85rem;
  height: .4rem;
  line-height: .4rem;
  font-size: .24rem;
  color: #9d9d9b;
  border-radius: 5px;
  /*border: 1px solid #f4e6ca;*/
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  padding-left: .12rem;
  padding-top: 1px;
}

.con1_2 {
  width: 100%;
  position: relative;
}

.con1_2 h2 {
  width: 4.99rem;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 1.1em;
  color: #b18a67;
  font-weight: normal;
}

.con1_2 ul {
  width: 4.99rem;
  margin: 0 auto;
  /*border:1px solid #ceb6a2;*/
  border-radius: 2px;
  margin-top: 10px;
}

.con1_2 ul li {
  width: 100%;
  height: 27px;
  font-size: 1em;
  color: #9d9d9b;
  /*border-bottom:1px solid #ceb6a2;*/
}

/*.con1_2 ul li:last-child{
  border:0;
}*/
/*.con1_2 ul li:first-child p em{
  background: #b21a2e;
  color:#fff;
  box-shadow:none;
}*/
.con1_2 ul li p {
  width: 100%;
  display: block;
  height: .4rem;
  line-height: .4rem;
  color: #4c4948;
  font-size: .25rem;
  letter-spacing: .03rem;
  margin-bottom: .1rem;
}

.con1_2 ul li p em {
  color: #f39700;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 1px;
}

.con1_2 ul li p span {
  display: block;
  float: right;
  width: 2.67rem;
  height: 0.4rem;
  line-height: .4rem;
  font-size: .24rem;
  color: #9d9d9b;
  border-radius: 5px;
  /* border: 1px solid #f4e6ca; */
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  padding-right: 0.27rem;
  text-align: right;
  letter-spacing: 0;
  padding-top: 1px;
}

.con1_3 {
  width: 5.23rem;
  margin: 0 auto;
  padding: 25px 0 0;
  font-size: 0.8em;
  color: #353e4f;
  line-height: 20px;
  text-align: justify;
  z-index: 2;
  position: relative;
}

.con1_3 i {}

.con1_3 p {
  padding-bottom: 8px;
}

.con1_4_con {
  width: 100%;
  height: auto;
  position: relative;
}

.con1_4 {
  width: 100%;
  height: 7.57rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  background: white;
  border-radius: 5px;
  padding: .03rem;
  padding-bottom: 20px;
  position: relative;
  z-index: 3;
  overflow: hidden;

  background: #fff8e1;
  /*  border-radius: .1rem;*/
  /*  box-shadow: 2px 2px 4px rgba(62,0,0,0.35);*/
  padding: 0 .33rem;
  background: url(../../images/d4/b3-b-bj.png) no-repeat top/100% auto;
}

.con1_4 h1.bt_new {
  width: 100%;
  text-align: center;
  height: .69rem;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.con1_4 h3 {
  width: 4.99rem;
  margin: 0 auto;
  font-size: 1.1em;
  color: #1057a0;
  padding-top: 15px;
}

.con1_4 ul {
  width: 4.99rem;
  margin: 10px auto;
  height: 40px;
  display: block;
  border: 1px solid #f4e6ca;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  background: #fff;
}

.fenge5 {
  width: 100%;
  height: 5px;
  background: #f8eed9;
  margin: 0 auto;
}

.con1_4 ul li {
  width: 33%;
  float: left;
  height: 40px;
  line-height: 38px;
  font-size: 1em;
  text-align: center;
}

.con1_4 ul li a {
  display: block;
  /*border:1px solid #e9cf91;*/
  border-radius: .15rem;
  color: #70706f;
  width: 100%;
  height: .49rem;
  position: relative;
  font-size: .24rem;
  line-height: .49rem;
}

.con1_4 ul li.active {
  opacity: 1;
}

.con1_4 ul li:first-child a {
  left: -1px;
}

.con1_4 ul li:last-child a {
  left: 1px;
}

.con1_4 ul li a {
  color: #fff;
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
}

.jiazhiselc2b {
  width: 4.99rem;
  margin: 0 auto;
  border: 1px solid #f4e6ca;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  margin-top: 15px;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.con1_4 select {
  width: 100%;
  /*margin:0 auto;*/
  /*border: 1px solid #f4e6ca;*/
  /*box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);*/
  height: 40px;
  line-height: 40px;
  font-size: 1.1em;
  color: #1057a0;
  /*margin-top:15px;*/
  display: block;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background: url(../../images/1/down.png) 97% center no-repeat;
  background-size: 8% auto;
  -webkit-appearance: none;
  appearance: none;
  text-align-last: center;
  text-align: center;


}

.con1_4_text {
  width: 4.99rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  height: 4rem;
  margin-top: .2rem;

  /*    padding-top: 0.14rem;*/
}

.con1_4_text.active {
  display: block;
}

/*.con1_4_text.active p:first-child{
  font-weight: bold;
}*/
.con1_4_text p {
  height: .43rem;
  text-indent: 5%;
  line-height: .5rem;
  color: #4c4948;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .24rem;
  letter-spacing: 1px;
  padding-right: .2rem;

  margin-top: .04rem;
  position: relative;
}

.con1_4_text p i {
  color: #1057a0;
  font-weight: bold;
  font-size: .28rem;
}

.con1_4_text p span {
  color: #898989;
  float: right;
  font-size: .28rem;
  position: absolute0;
  right: .2rem;
}

.con1_4_text p span::after {
  content: "元";
}

.con1_change_year.time_s {
  width: 4.99rem;
  margin: .2rem auto 0;
  height: 75px;
}

.con1_4_text_span {
  display: block;
  width: 4.99rem;
  margin: 2px auto 0;
  font-size: 0.9em;
  color: #70706f;
  text-align: center;
  position: relative;
}

.con1_4_button {
  width: 4.52rem;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.con1_4_button a {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 15px;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 12px;
  color: white;
  background: #e7ca88;
  margin-bottom: 10px;
}

.con1_fixed1 {
  position: absolute;
  left: 6%;
  width: 88%;
  top: 3%;
  background: white;
  border-radius: 4px;
  z-index: 15;
}

.con1_fixed1_top {
  width: 88%;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px 0;
}

.con1_fixed1_top p {
  float: left;
  width: 24%;
  margin-right: 14%;
  font-size: 0.8em;
  text-align: center;
  color: #70706f;
}

.con1_fixed1_top p img {
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 4px;
}

.con1_fixed1_top p:last-child {
  margin-right: 0;
  float: right;
}

.con1_fixed1_title {
  width: 88%;
  margin: 0 auto;
  font-size: 1.1em;
  text-align: center;
  color: #a8673a;
  padding: 4px 0;
  background: #e7ca88;
  border-radius: 4px;
  margin-bottom: 6px;
}

.con1_fixed1_list {
  width: 88%;
  margin: 0 auto;
  height: 120px;
  overflow: scroll;
  padding: 20px 0;
  margin-bottom: 20px;
  background: #f8f4ef;
}

.con1_fixed1_list_box {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.con1_fixed1_list_box li {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.con1_fixed1_list_box li p {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(../../images/1/k2.png) left center no-repeat;
  background-size: 12px auto;
}

.con1_fixed1_list_box li p span {
  display: block;
  float: left;
  font-size: 0.9em;
  color: #70706f;
  text-indent: 15px;
}

.con1_fixed1_list_box li p em {
  display: block;
  float: left;
  color: #a8673a;
  font-weight: bold;
  font-size: 1em;
}

.con1_fixed1_list_box li i {
  display: block;
  font-size: 0.7em;
  margin-left: 15px;
  color: #adaea8;
}

.con1_fixed1_more {
  width: 88%;
  margin: 0 auto;
  background: #f8f4ef;
  padding: 20px 0;
  position: relative;
  margin-bottom: 20px;
}

.con1_fixed1_more p {
  width: 88%;
  height: auto;
  position: relative;
  background: url(../../images/1/k2.png) left 4px no-repeat;
  background-size: 12px auto;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.4em;
  margin-bottom: 20px;
  height: 5.4em;
  overflow: hidden;
}

.con1_fixed1_more p span {
  display: block;
  margin-left: 15px;
  color: #70706f;
  font-size: 0.9em;
}

.con1_fixed1_more a {
  display: block;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  background: url(../../images/1/k3.png) center no-repeat;
  background-size: 15px auto;
}

.con1o_fixed1_bottom {
  width: 88%;
  margin: 0 auto;
  background: #f8f4ef;
  padding: 20px 0;
  position: relative;
  margin-bottom: 20px;
}

.con1o_fixed1_bottom p {
  width: 88%;
  height: auto;
  position: relative;
  background: url(../../images/1/k2.png) left 4px no-repeat;
  background-size: 12px auto;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.4em;
}

.con1o_fixed1_bottom p i {
  display: block;
  margin-left: 15px;
  color: #70706f;
  font-size: 0.9em;
}

.con1o_fixed1_bottom p span {
  display: block;
  font-size: 0.7em;
  margin-left: 15px;
  color: #adaea8;
}

.con1_fixed2 {
  width: 88%;
  position: absolute;
  left: 6%;
  top: 33%;
  background: white;
  z-index: 15;
  /*   overflow:scroll;*/
  display: none;
}

.con1_fixed2_table {
  display: table;
  width: auto;
  height: auto;
  padding: 25px 0 5px 0;
  padding-bottom: 13px;
  position: relative;
}

.tuodong_move {
  width: auto;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  /*color:#fff;*/
  line-height: 14px;
  font-size: 14px;
}

.guding_con1 {
  width: 88%;
  position: absolute;
  left: 6%;
  top: 33%;
  background: white;
  z-index: 15;
  height: 0;
}

#table_excel4 {
  width: 30px;
  height: auto;
  position: absolute;
  top: 26px;
  left: 0px;
  background: #fff;
  z-index: 2;
}

#table_excel4 td {
  height: 25px;
  border: 1px solid #dccaba;
  background: #f8f4ef;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
}

#table_excel4 tr:first-child td {
  background: #fff;
  height: auto;
  line-height: 12px;
  font-weight: bold;
  height: 55px;
}

/*#table_excel4 td:last-child{
  border-bottom: 2px solid #dccaba;
}*/

.con1_fixed2_table table {
  display: none;
}

.con1_fixed2_table table.active {
  display: block;
}

.con1_fixed2_table table {
  width: auto;
  width: 690px;
  margin: 0 auto;
  border: 1px solid #dccaba;
  /*font-size:0.8em;*/
  text-align: center;
  color: #9d9d9b;
  border-collapse: collapse;
  border-radius: 2px;
  display: none;
}

.con1_fixed2_table table.active {
  display: block;
}

.con1_fixed2_table table tr,
.con1_fixed2_table table tbody {
  width: 600px;
}

.con1_fixed2_table table tr:nth-child(1) td {
  color: #411a00;
  font-size: 1em;
  font-weight: bold;
  background: white;
  height: 55px;
}

.con1_fixed2_table table td {
  height: 25px;
  border: 1px solid #dccaba;
  background: #f8f4ef;
}

.con1_fixed2_table table td:nth-child(2n) {
  background: white;
}


.con2 {
  width: 100%;
  height: auto;
  /*background:#fbfbe6;*/
  padding-bottom: 0px;
  padding-top: 1rem;
  min-height: 100%;
}

.con2_form {
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  /*  padding-bottom: .41rem;*/
  /*overflow:hidden;*/
  background: url(../../images/d4/b2-t-bj.png) no-repeat top/100% auto;
  /*  border-radius: 5px;*/
  /*  box-shadow:2px 2px 4px rgba(62,0,0,0.35);*/
  position: relative;
  padding-top: 0.9rem;
  overflow: hidden;
}

.con2_form h2 span {
  /*display:block;
  width:100%;
  height:100%;*/
  color: #fff;
  /*font-weight: bold;*/
}

.con2_form p {
  display: block;
  width: 5rem;
  margin: 0 auto;
  height: .4rem;
  line-height: .4rem;
  margin-top: .3rem;
}

.con2_form p:nth-of-type(1) {
  margin-top: 0;
}

.con2_form p span {
  display: block;
  float: left;
  font-size: .28rem;
  color: #1057a0;
  font-size: .3rem;
  font-weight: bold;
}

.con2_form p input {
  display: table;
  float: right;
  width: 83%;
  height: 100%;
  line-height: .4rem;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  box-sizing: border-box;
  /*  border: 1px solid #f7e8c9;*/
}

.con2_form p b input {
  width: 100%;
  float: left;
  color: #1057a0;
  background: #fff;
  text-align: center;
  /*padding-right: 15px;*/
  box-sizing: border-box;
  border: 1px solid #f8f1dc;
}

.con2_form p b input[placeholder] {
  color: #1057a0;
}

.ys_birth input.change {
  color: inherit;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 25px;
  padding-right: 18px;
  box-sizing: border-box;
}

.con2_form p i {
  display: block;
  width: 2rem;
  float: right;
}

.con2_form p i em {
  display: block;
  float: left;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  height: .4rem;
  /*   border:1px solid #f8f1dc;*/
  background: #fff;
  width: 100%;
}

.con2_form p i em a {
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
  /*border:1px solid #ebd399;*/
  /*   padding:0 .22rem;*/
  text-align: center;
  border-radius: 4px;
  font-size: .22rem;
  line-height: .4rem;
  color: #411a00;
  width: 50%;
}

.con2_form p i em a.active {
  /*  background: url(../../images/d3/x1tk.jpg) repeat-x;*/
  /*  background-size: auto 100%;*/
  background: #1057a0;
  /*box-shadow: 2px 2px 4px rgba(135,68,17,0.3);*/
  color: #fff;
}

.d-tj1.bj_new {
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  /*box-shadow: 2px 2px 4px rgba(135,68,17,0.3);*/
  color: #fff;
}

.con2_form p b.time {
  display: block;
  float: left;
  width: 40%;
  height: 25px;
  line-height: 25px;
  /*border:1px solid #ebd399;*/
  border-radius: 4px;
  margin-left: 6%;
  background: url(../../images/1/time.png) center right no-repeat;
  background-size: 25px auto;
}

.con2_form p>em {
  display: block;
  float: right;
  width: 40%;
  height: 25px;
  line-height: 25px;
  /*border:1px solid #ebd399;*/
  border-radius: 4px;
  color: #6e665f;
  text-align: center;
  font-size: 1.2em;
}

.con2_form form {
  position: relative;
  z-index: 1;
}

.con2_bj {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0.15rem 0;
  z-index: 0;
}

.con2_bj>img {
  display: block;
  width: 100%;
  height: 100%;
}

.con2_bj .k-t {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
}

.con2_bj .k-b {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}


.con2_table_cent {
  width: 100%;
  height: 11.05rem;
  /*padding-bottom:15px;*/
  /*overflow:hidden;*/
  /*  background:#fff7de;*/
  /*  border-radius: 5px;*/
  margin-top: .4rem;
  /*  box-shadow:2px 2px 4px rgba(62,0,0,0.35);*/
  position: relative;
  padding: 2rem .33rem 0;
  background: url(../../images/d4/b2-b-bj.png) no-repeat top/100% auto;
  overflow: hidden;

}

.con2_table {
  width: 100%;
  height: auto;
  position: relative;
}

.con2_table h2 {
  height: 40px;
  line-height: 40px;
  background: #e7ca88;
  font-size: 1.2em;
  color: #9f5727;
}

.con2_table h2 span {
  /*margin-left:15px;*/
  /*display: block;*/
  /*text-align: center;*/
  /*width: 100%;*/
  /*height: 100%;*/
  color: #fff;
  /*font-weight: bold;*/
}

.con2_table>p {
  display: block;
  width: 88%;
  /*  overflow:hidden;*/
  margin: 0 auto .12rem;
  height: auto;
  line-height: 25px;
}

.con2_table>p span {
  display: block;
  float: left;
  font-size: .22rem;
  color: #411a00;
  font-weight: bold;
}

.con2_table>p #add {
  display: block;
  float: right;
  padding: 0px 18px;
  height: 22px;
  line-height: 22px;
  font-size: 13px;
  /*border:1px solid #e7ca88;*/
  border-radius: 4px;
  margin-top: 2px;
  color: #fff;
}

.xiazaitiaokuan,
.con2_text>p .xiazaitiaokuan {
  display: inline-block;
  padding: 0 12px;
  color: #d5d5d4;
  background: none;
  float: none;
  font-size: .18rem;
  height: .36rem;
  line-height: .36rem;
  width: auto;
  border: 1px solid #f8f1dc;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  margin-right: .24rem;
  margin-top: .1rem;

  border: none;
  background: url(../../images/d3/x1tk.jpg) repeat-x;
  background-size: auto 101%;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
  color: #fff;

}

.con2_text>p .xiazaitiaokuan:last-child {
  /*border:none;
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  box-shadow: 2px 2px 4px rgba(135,68,17,0.3);
  color:#9f5727;*/
  margin-left: 5px;
}

.con2_table table,
.con2_table #wjTbWrap table,
.table_xian_copy {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  color: #9d9d9b;
  /*border-collapse:collapse;*/
  /*border-radius:2px;*/
}

.con2_table table tr:first-child td div,
.con2_table #wjTbWrap table tr:first-child td div,
.table_xian_copy tr:first-child td div {
  background: #b21a2e;
  /*border-color: #fade9e;*/
  color: #fff;
}

.con2_table table td,
.con2_table #wjTbWrap table td,
.table_xian_copy td {
  padding: 1px;
  font-size: 0.8em;
  border: none;
  overflow: hidden;
  background: none;
}

.con2_table table td div,
.con2_table #wjTbWrap table td div,
.table_xian_copy td div {
  width: 100%;
  height: 100%;
  min-height: 29px;
  display: table;
  /*border:1px solid #dfcfc1;*/
  /*border-collapse:collapse;*/
  font-size: 0.8em;
}

.con2_table #wjTbWrap table tr:last-child td div,
.table_xian_copy tr:last-child td div {
  height: 50px;
  background: #fff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
}

.con2_table #wjTbWrap table tr:first-child td div,
.table_xian_copy tr:first-child td div {
  height: 40px;
}

.con2_table table td div em,
.con2_table #wjTbWrap table td div em,
.table_xian_copy td div em {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
}

.con2_table table tr td:nth-child(1),
.con2_table #wjTbWrap table td:nth-child(1) {
  /*width:90px;*/
}

.con2_table #wjTbWrap {
  padding-bottom: 15px;
}


.con2_text {
  /*width:78%;*/
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  height: auto;
  padding-bottom: 15px;
  overflow: hidden;
  /*background:white; */
  /*border-radius:4px;*/
  /*box-shadow:3px 3px 2px #f0eec4;*/
  border-top: 5px solid #f8eed9;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative;
}

.con2_text>p {
  width: 100%;
  height: auto;
  line-height: 25px;
  /*overflow:hidden;*/
}

.con2_text>p span {
  display: block;
  float: left;
  font-size: 1em;
  color: #000;
}

.con2_text p:first-child span:first-child {
  font-size: .22rem;
  color: #411a00;
  font-weight: bold;
}

.con2_text>p a {
  display: block;
  float: right;
  font-size: .18rem;
  height: 25px;
  line-height: 25px;
  color: #9f5727;
  background: url(../../images/1/k1_0.png) center right no-repeat;
  background-size: 15px auto;
}

.con2_text>p a em {
  padding-right: 20px;
  color: #b67719;
}

.con2_text>p a.active {
  background: url(../../images/1/k1.png) center right no-repeat;
  background-size: 15px auto;
}

.con2_text span.toubaoIn {
  display: block;
  font-size: .2rem;
  color: #4c4948;
  margin-top: .2rem;
  width: 100%;
  line-height: .4rem;
}

.con2_text>a {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: .2rem;
  height: 20px;
  line-height: 20px;
  font-size: 0.9em;
  color: #b18a67;
  background: url(../../images/1/right.png) center right no-repeat;
  background-size: 15px auto;
}

.con2_text>a em {
  padding-right: 20px;
  font-size: .2rem;
  color: #b67719;
}

.con2_text_beizhu {
  width: 100%;
  height: auto;
  font-size: 0.7em;
  color: #411a00;
  text-align: justify;
  line-height: 1.3em;
  margin-top: 15px;
}

.con2_text_beizhu p {
  margin: 5px 0 0;
}

.con2_book {
  width: 5.23rem;
  margin: 0 auto;
  padding: 15px 5% 0;
  height: auto;
  padding-bottom: 15px;
  overflow: hidden;
  background: #fff7de;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(62, 0, 0, 0.35);
  margin-top: .2rem;
  overflow: hidden;
  box-sizing: border-box;
}

.con2_book p {
  height: 30px;
  float: left;
  line-height: 1.4em;
}

.con2_book p span {
  display: block;
  font-size: 14px;
  color: #1057a0;
}

.con2_book p i {
  display: block;
  font-size: 13px;
  color: #b18a67;
}

.con2_book a {
  display: inline-block;
  float: right;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  background: #e7ca88;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  padding: 0 8px;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.con2_fixed1 {
  width: 5.53rem;
  position: absolute;
  left: 6%;
  top: 6%;
  z-index: 10;
  background: #fff7de;
  border-radius: .1rem;
  /*overflow:hidden;*/
  display: none;
  box-shadow: 2px 2px 4px rgba(62, 0, 0, 0.35);
}

.con2_fixed1>h2 {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  background: #e7ca88;
  color: #a8673a;
}

.con2_fixed1>a {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  width: 45px;
  height: 45px;
  background: url(../../images/d3/close.png) center no-repeat;
  background-size: .24rem auto;
}

.con2_fixed1_box1 {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.jiazhiselc2 {
  width: 100%;
  height: 35px;
  border: 1px solid #f6ecd4;
  border-radius: 4px;
  margin-top: 15px;
  background: #fff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
}

.con2_fixed1_box1 .jiazhiselc2>select {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 1.3em;
  /*border:1px solid #f6ecd4;*/
  border-radius: 4px;
  /*margin-top:15px;*/
  color: #1057a0;
  background: url(../../images/1/down.png) 98% center no-repeat;
  background-size: 25px auto;
  -webkit-appearance: none;
  appearance: none;
  text-align-last: center;
  text-align: center;
  /*box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);*/
}

.con2_fixed1_box1 .jiazhiselc2>select option {
  text-align: center;
}

.con2_fixed1_box1>ul {
  width: 100%;
  margin: 0 auto;
  background: #fef0cd;
  border: 1px solid #fef0cd;
  border-radius: 3px;
  margin-top: 6px;
  padding: .1rem 0;
}

.con2_fixed1_box1>ul li {
  height: .44rem;
  line-height: .44rem;
  font-size: .2rem;
  color: #70706f;
  width: 3.9rem;
  margin: 0 auto;
}

.con2_fixed1_box1>ul li span {
  display: block;
  float: left;
}

.con2_fixed1_box1>ul li i {
  display: block;
  float: right;
}

.con2_fixed1_box1>ul li i em {
  padding-right: 5px;
  color: #fff;
}

.time_s {
  width: 100%;
  height: 45px;
  text-align: center;
}

.time_s i {
  display: inline-block;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.time_s i em,
.scroller_bg {
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  top: 17px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
}

.scroller_bg {
  position: relative;
  top: 0;
  left: 0;
  width: 96%;
  margin: 10px auto 0;
  background: #1057a0;

}

.time_s i em b {
  display: block;
  position: relative;
  background: #f6ebd3;
  width: 1%;
  min-width: 10px;
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.time_s i em b:after,
.ibon a:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1057a0;
  background-size: auto 100%;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
  border: 2px solid #fff;
  box-sizing: border-box;
}

.time_s i em b a {
  position: absolute;
  display: block;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.time_s span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 10;
  padding-top: 17px;
}

.time_s span em {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1057a0;
}

.time_s span em::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;

}

.time_s span:first-child em::before {
  background: url(../../images/d3/jian.png) center no-repeat;
  background-size: 12px auto;
}

.time_s span:last-child em::before {
  background: url(../../images/d3/jia.png) center no-repeat;
  background-size: 12px auto;

}

.con2_fixed1_box2 {
  width: 100%;
}

.con2_fixed1_box2_title {
  width: 100%;
  height: .66rem;
  border-top: 4px solid #f8eed9;
  border-bottom: 4px solid #fff;
  margin-top: 15px;
  line-height: .66rem;
}

.con2_fixed1_box2_title span {
  display: block;
  float: left;
  width: 50%;
  color: #1057a0;
  cursor: pointer;
  position: relative;
  text-align: center;
  height: 100%;
}

.con2_fixed1_box2_title span i {
  display: inline-block;
  height: 100%;
  font-size: 14px;
}

.con2_fixed1_box2_title span.active {
  /*color: #fff;*/
  /*background: url(../../images/d3/x1bj.jpg) repeat-x;*/
  background-size: auto 100%;
}

.con2_fixed1_box2_title span.active i {
  position: relative;
}

.con2_fixed1_box2_title span.active i:after {
  content: "";
  position: absolute;
  /*top: 31px;*/
  /*left: 100%;*/
  /*width:42px;*/
  /*height: 12px;*/
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);

  top: 36px;
  left: 110%;
  width: .69rem;
  height: 14px;

}

.fenge4 {
  width: 100%;
  height: 5px;
  background: #e4d4bd;
  /*box-shadow: inset 1px 1px 4px rgba(0,0,0,0.18);*/
}

.con2_fixed1_box2_title span em {
  display: inline-block;
  font-size: 0.7em;
  margin-left: 4px;
  height: 100%;
}

.con2_fixed1_box2_title span:last-child {
  /*  display:block;
  float:right;
  margin-right:6%;
  margin-left:0;
  text-align:right;
  width:90px;*/
}

.con2_fixed1_sel {
  width: 100%;
  height: auto;
  /*background: #f3dfc2;*/
  border-bottom: 4px solid #f8eed9;
}

/*.con2_fixed1_box2_time{
  width: 4.5rem;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom:10px;
  display: none;
}
.con2_fixed1_box2_time.active{
  display: block;
}
.con2_fixed1_box2_time p{
  width:100%;
  height:35px;
  line-height:35px;
  overflow:hidden;
}
.con2_fixed1_box2_time p span{
  display:block;
  float:left;
  color:#1057a0;
}


.con2_fixed1_box2_time p select{
  display:block;
  float:right;
  width:100px;
  border:1px solid #e9cf91;
  height:23px;
  margin-top:6px;
  border-radius:4px;
  color:#70706f;
  background: #fff;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);
}

.con2_fixed1_box2_time p input{
  display:block;
  float:right;
  width:100px;
  
  height:23px;
  margin-top:6px;
  border-radius:4px;
  color:#70706f;
  text-align:center;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);
  background: #fff;
  box-sizing: border-box;
}*/

.con4_zhuiling {
  width: 100%;
  height: auto;
  /*border-bottom: 4px solid #e4d4bd;*/
  box-sizing: border-box;
  padding: 15px 0;
}

.con4_zhuiling,
.con4_zhuiling div {
  display: none;
}

.con4_zhuiling.active,
.con4_zhuiling div.active {
  display: block;

}

.con4_zhuiling.active {
  /*border-bottom: 4px solid #f8eed9;*/
}

.con4_zhuiling_bt {
  width: 88%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-bottom: none;
  margin: 0 auto;
  font-size: .22rem;
  color: #1057a0;
}

.con4_zhuiling_bt span {
  float: right;
  color: #f18b00;
}

.con4_zhuiling_zhuijia,
.con4_zhuiling_lingqu {
  width: 88%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.con4_zhuiling_lingqu span.active {
  display: none;
}

.con4_zhuiling_zhuijia span,
.con4_zhuiling_lingqu span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: .22rem;
}

.con4_zhuiling_zhuijia span i,
.con4_zhuiling_lingqu span i {
  width: 50%;
  display: block;
  float: left;
  color: #9b9a97;
}

.con4_zhuiling_zhuijia span em,
.con4_zhuiling_lingqu span em {
  width: 50%;
  display: block;
  float: left;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  padding-left: 15px;
  color: #f18b00;
}

.con4_zhuiling_zhuijia span em b,
.con4_zhuiling_lingqu span em b {
  font-weight: 100;
}

.con4_zhuiling_xian {
  width: 88%;
  height: 1px;
  background: #ccc;
  margin: 0 auto;
}

.con4_zhuiling_zhuijia span img,
.con4_zhuiling_lingqu span img {
  float: right;
  width: 15px;
  height: 15px;
  position: relative;
  top: 8px;
}

.con2_fixed1_box3 {
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.con2_fixed1_box3 p {
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 0.9em;
  height: 27px;
  /*box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);*/
  /*border:1px solid #f6ecd4;*/
  /*border-radius: 4px;*/
  /*background: #fff;*/
}


.con2_fixed1_box3 p a {
  display: block;
  float: left;
  width: 45%;
  height: 100%;
  border-radius: 5px;
  color: #7b7b7a;
  text-align: center;
  line-height: 28px;
  box-sizing: border-box;
  font-size: 14px;



}

.con2_fixed1_box3 p a:last-child {
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
}

.con2_fixed1_box3 p a:last-child {
  /*margin-left:10px;*/
  float: right;
}

.con2_fixed1_box3 p a:first-child {
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
}


.con2_fixed2 {
  width: 88%;
  position: absolute;
  left: 6%;
  top: 6%;
  z-index: 10;
  background: #fff7de;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  box-shadow: 2px 2px 4px rgba(62, 0, 0, 0.35);
}

html body .con2_fixed2 h2 {
  height: .78rem;
}

.con2_fixed2 h2>span {
  /*display: block;*/
  /*width: 100%;*/
  /*height: 100%;*/
  color: #fff;
}

.con2_fixed2>a {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  width: 45px;
  height: 45px;
  background: url(../../images/d3/close.png) center no-repeat;
  background-size: .24rem auto;
}

.con2_fixed2>p {
  width: 80%;
  margin: 0 auto;
  height: 45px;
  line-height: 45px;
  font-size: 0.9em;
  color: ;
}

.con2_fixed2>p span {
  display: block;
  float: left;
  font-size: 15px;
  color: #1057a0;

}

.con2_fixed2>i {
  display: block;
  float: right;
}

.con2_fixed2 ul {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 4px solid #f8eed9;
  border-top: 4px solid #f8eed9;
}

.con2_fixed2 ul li {
  width: 80%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #70706f;
  position: relative;
}

.con2_fixed2 ul li span {
  display: block;
  float: Left;
  font-size: 14px;
}

.con2_fixed2 ul li .jiaofeic2 {
  display: block;
  float: right;
  width: 100px;
  height: 23px;
  margin-top: 3px;
  border-radius: 5px;
  /*color:#70706f;*/
  box-sizing: border-box;
  /*text-indent:4px;*/
  border: 1px solid #f8f1dc;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
}

.con2_fixed2 ul li select {
  display: block;
  /*float:right;*/
  width: 100px;
  height: 23px;
  /*margin-top:3px;*/
  border-radius: 4px;
  color: #70706f;
  box-sizing: border-box;
  text-indent: 4px;
  /*border: 1px solid #f8f1dc;*/
  border-radius: 4px;
  /*box-shadow: inset 2px 2px 4px rgba(0,0,0,0.18);*/
  /*background: #fff;*/
}

.con2_fixed2 ul li input {
  display: block;
  float: right;
  width: 100px;
  border: 1px solid #e9cf91;
  height: 23px;
  margin-top: 3px;
  border-radius: 4px;
  color: #70706f;
  text-indent: 4px;
  box-sizing: border-box;
  border: 1px solid #f8f1dc;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
}

.con2_fixed2 ul li a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background: ;
  margin-top: 3px;
}

.con2_fixed2_button {
  width: 100%;
  height: auto;
  padding: 15px 0;
}

.con2_fixed2_button a {
  display: block;
  width: 1.65rem;
  height: .47rem;
  line-height: .47rem;
  font-size: .22rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
  /*color: #9f5727;*/
}

.fengmian {
  width: 100%;
  height: auto;
}

.fengmian_img {
  width: 100%;
  height: auto;
  position: relative;
}

.fengmian_img img {
  display: block;
  width: 100%;
  height: auto;
}

.fengmian_img p {
  position: absolute;
  width: 100%;
  left: 0;
  top: 37%;
  text-align: center;
}

.fengmian_img p span {
  display: block;
  color: #3f3631;
  font-size: 1em;
  font-size: 0.9em;
  margin-bottom: 2px;
}

.fengmian_title {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5px;
  background: #e7ca88;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 65px;
  overflow: hidden;

}

.fengmian_title img {
  width: auto;
  height: auto;
  margin-left: 65px;
  margin-top: 10px;
}

.fengmian_title span {
  display: block;
  position: absolute;
  top: 35px;
  right: 5%;
  font-size: 0.8em;
  color: #1057a0;
}

.fengmian_con {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.fengmian_con h2 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  color: #9f5727;
  background: #f8f4ef;
  text-indent: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.fengmian_con>p {
  width: 100%;
  padding-bottom: 15px;
  overflow: hidden;
}

.fengmian_con>p>i {
  display: block;
  float: left;
  color: #1057a0;
  font-size: 0.9em;
  width: 33%;
  text-indent: 10px;
}

.fengmian_con h3 {
  font-size: 1em;
  color: #1057a0;
  text-indent: 10px;
  margin-bottom: 10px;
}

.fengmian_con>p>span {
  display: block;
  width: 50%;
  height: auto;
  overflow: hidden;
  float: left;
  color: #1057a0;
  font-size: 0.9em;
}

.fengmian_con>p>span i {
  display: table;
  float: left;
  width: auto;
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
}

.fengmian_con>p>span em {
  display: table;
  float: left;
  height: 18px;
  line-height: 18px;
  width: 40%;
  margin-top: 2px;
  border-bottom: 1px solid #98928f;
  margin-left: 10px;
  text-align: center;
}

.fengmian_zhu {
  background: #f8f4ef;
  width: 100%;
  height: auto;
  padding: 5px 0;
  color: #411a00;
  margin-bottom: 20px;
}

.fengmian_zhu p {
  margin-left: 10px;
}

.fengmian_zhu em {
  display: block;
  font-size: 0.7em;
}

.fengmian_con h4 {
  color: #b18a67;
  padding: 8px 0;
  text-indent: 10px;
}

.fengmian_con table {
  width: 100%;
  border: 1px solid #dccaba;
  font-size: 0.8em;
  text-align: center;
  color: #9d9d9b;
  border-collapse: collapse;
  border-radius: 2px;
}

.fengmian_con table td {
  height: 25px;
  border: 1px solid #dfcfc1;
}

.fengmian_b_line {
  width: 100%;
  height: 40px;
  background: #e7ca88;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fengmian_big_table {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.fengmian_big_table h3 {
  width: 100%;
  background: #f8f4ef;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  text-align: center;
  margin: 15px 0 10px 0;
  border-radius: 3px;
}

.fengmian_big_table table {
  width: 100%;
  border: 1px solid #dccaba;
  font-size: 0.8em;
  text-align: center;
  color: #9d9d9b;
  border-collapse: collapse;
  border-radius: 2px;
  display: none;
}

.fengmian_big_table table.active {
  display: table;
}

.fengmian_big_table table td {
  height: 25px;
  border: 1px solid #dfcfc1;
  font-size: 0.9em;
}

.fengmian_big_table table td .fengmian_big_table table td span {
  display: block;
}

em.nianling i {
  display: inline;
  width: auto;
  height: auto;
  float: none;
}

.xingming,
.xingming2 {
  padding-left: 10px;
}

.con2_text span.toubaoIn,
.con2_text a.toubaoIn {
  display: none;
}

.con2_text span.toubaoIn.act,
.con2_text a.toubaoIn.act {
  display: block;
}


.fengmian_img,
.fengmian_img img {
  /*width: 100%;
    min-width:842px;*/
  height: 2384px;
}

.fengmian_title {
  width: 100%;
  /*841.89*/
  min-width: 842px;
}

.fengmian_con {
  height: 2209px;
}

.fengmian_big_table {
  min-height: 2242px;
  overflow: hidden;
}

.fengmian_b_line {
  margin-top: 15px;
}

.fengmian_b_line:last-child {
  margin-bottom: 0;
}

/*.right-aside{
  display: none;
}
.right-aside.pdf{
  display: block;
}*/
.con-aside {
  display: block;
}

.con-aside.active {
  display: none;
}

body.active {
  width: 100%;
  min-width: 1683px;
  max-width: 100%;
}

.con2_text>a.con2_text_zhuijia {
  display: none;
}

.con2_text>a.con2_text_zhuijia.act {
  display: block;
}

.con1_1 .bt_new {
  height: .5rem;
}

.con1_1 .bt_new h1 {
  display: block;
  width: 100%;
  height: 100%;
}

html body .bt_new,
.con2_fixed2 h2 {
  /*  background: url(../../images/d3/tit-bj.png) no-repeat;*/
  /*  background-size: cover;*/
  /*  border-radius:  5px;*/
  display: block;
  width: 100%;
  position: relative;
  height: .89rem;
  top: -.45rem;
  f margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  box-shadow: 1px 1px 3px rgb(0,0,0,0.2);*/
}

html body .bj_new {
  background: url(../../images/d3/x1bj.jpg) repeat-x;
  background-size: auto 100%;
  box-shadow: 2px 2px 4px rgba(135, 68, 17, 0.3);
  color: #fff;
}

#demo1::-webkit-input-placeholder {
  text-align: left;
  padding-left: 5px;
  color: #d9d9d6;
  font-size: 13px;
}

#jiaoFeiSel,
#enqijian,
select {
  background: url(../../images/d4/xx1.png) no-repeat center right;
  background-size: auto 100%;
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  /*去掉下拉箭头*/
}

#wrapper {
  position: relative;
  /*margin:0 auto;*/
  z-index: 1;
  /*top: 0;
    bottom: 0;
    left: 0;*/
  width: 80%;
  height: 49px;
  /*background: #ccc;*/
  /*overflow: hidden;*/
  float: left;
  /*transform:*/
  margin-top: 7px;
  display: inline-block;
  padding-top: 25px;

}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: auto;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  /*background: #555;*/
}

.ibon {
  width: auto;
  height: 100%;
  position: relative;
  /*background: yellow;*/

}

.ibon a {
  display: block;
  float: right;
  z-index: 5;
  width: 20px;
  height: 100%;
  position: relative;
}

.ibon a:after {
  top: 7px;
  right: 2px;
}

#scroller_left,
#scroller_right {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

#scroller_left {
  right: 20px;
}

#scroller_right {
  left: 15%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 10;
}

.loading em {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.loading em i {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  overflow: hidden;
}

.loading em i img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 25px auto 0;
}

.b-ton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.97rem;
  margin: 0 auto;
  height: .4rem;
  line-height: .4rem;
  margin-top: .35rem;
  font-size: .30rem;
  font-weight: bold;
}

.b-ton>div,
.d-sq-2>div {
  width: 60%;
  height: 100%;
  position: relative;
  color: #1057a0;
  /*    letter-spacing: .05rem;*/
}

.b-ton>div:first-child,
.d-sq-2>div:first-child {
  width: 40%;
}

.b-ton>div>input,
.d-sq-2>div>input {
  display: table;
  width: 100%;
  height: 100%;
  line-height: .4rem;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #f7e8c9;
  padding: 0 10px;
}

.b-t-select>select {
  background: url(../../images/d4/xx1.png) no-repeat center right;
  background-size: auto 100%;
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  padding-left: 10px;
  display: table;
  width: 100%;
  height: 100%;
  color: #777;
}

.b-t-select {
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  /*  border: 1px solid #f7e8c9;*/
}

.b-ton>div i,
.d-sq-2>div>i {
  position: absolute;
  display: inline-block;
  top: 0;
  right: .3rem;
  width: auto;
  height: 100%;
  line-height: .4rem;
  color: #8c8c8b;
}

.b-shuoming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5.06rem;
  margin: 0 auto;
  height: .14rem;
  margin-top: .15rem;
  font-size: .14rem;
  color: #8c8c8b;
}

.b-fenge1 {
  width: 100%;
  height: .1rem;
  background: #e5f9fb;
  margin-top: .44rem;
}

.b-jiane {
  width: 5.03rem;
  height: 1.64rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.b-jiane>span {
  display: block;
  width: 50%;
  font-size: .28rem;
  color: #411a00;
  line-height: .45rem;
  letter-spacing: .05rem;
}

.b-jiane-act {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

.b-jiane-act span {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
  height: 100%;
  font-size: .2rem;
  color: #b1743f;

}

.b-jiane-act span i {
  display: flex;
  margin-left: .12rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: .3rem;
  height: .3rem;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.b-jiane-act span.active i::after {
  content: "";
  width: .17rem;
  height: .17rem;
  border-radius: 50%;
  background: #1057a0;
}

.d-shenqinglingqu {
  width: 5.03rem;
  height: 1.65rem;
  margin: 0 auto;
  background: #aae1e4;
  padding-top: .33rem;
  font-size: .224rem;
}

.d-sq-1,
.d-sq-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .4rem;
  color: #70706f;
}

.d-sq-1 span {
  display: block;
  width: 1.6rem;
  height: 100%;
  margin: 0 .12rem;
}

.d-sq-2 {
  margin-top: .28rem;
  letter-spacing: .02rem;
}

.d-sq-2>div {
  width: 1.9rem;
  margin-left: .16rem;
}

.d-sq-2>div i {
  right: .1rem;
}

.d-tj1 {
  width: 5.03rem;
  height: .4rem;
  margin: 0 auto;
  font-size: .224rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-tj1 img {
  display: block;
  height: .23rem;
  width: auto;
  margin-right: .1rem;
}

.d-ck-a {
  display: block;
  width: 3.8rem;
  height: auto;
  margin: 1rem auto;
}

.b-mm {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 1.6rem;
  justify-content: center;

}

.b-mm span,
.b-mm em {
  /*display: block;
  width: 50%;
  height: 100%;*/
}

.b-fenge2 {
  width: 100%;
  height: .1rem;
  background: #e5f9fb;
  position: relative;
}

.b-mm span {
  font-size: .72rem;
  color: #1057a0;
  font-weight: bold;
  text-align: center;
  margin-top: .2rem;
  /*  padding-left: .3rem;*/

}

.b-mm em {
  font-size: .24rem;
  /*  line-height: .38rem;*/
  /*  padding: .3rem .3rem .3rem 0;*/
  color: #8c8c8b;

}

.b-xing {
  display: block;
  width: 1rem;
  height: auto;
  position: absolute;
  top: .95rem;
  right: .1rem;
}

.con1_2 ul {
  width: 100%;
  margin: 0;
  height: auto;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: none;
}

.con1_2 ul li {
  width: 5.05rem;
  margin: 0 auto;
  float: none;
  height: auto;
  line-height: .4rem;
  font-size: .26rem;
  text-align: left;
  padding: .1rem 0;
  border-top: 1px solid #999;
}

.con1_2 ul li:first-child {
  border: none;
}

ul.con1_4ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: .35rem;
}

ul.con1_4ul li {
  float: none;
  opacity: 0.7;
}

.b-tita {
  position: relative;
  width: 100%;
  font-size: .24rem;
  /*  text-align: center;*/
  color: #4c4948;
  padding-left: .4rem;
  margin-top: 1.1rem;
}

.b-tita em {
  font-weight: bold;
  color: #1057a0;
}

.b-tita a {
  font-size: .2rem;
}

.b-tita.act {
  text-align: left;
  padding: 0 0.3rem 0.1rem;
  font-size: .235rem;
}

#ibon span {
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: auto;
  height: 18px;
  line-height: 18px;
  background: #1057a0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;

}

#ibon a:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid #1057a0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;

}

.tbr-xx.con2_form {
  width: 100%;
  height: auto;
  /*    padding-bottom: 0.41rem; */
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: .2rem;
}

.con2_form p .tongyiren {
  display: flex;
  margin-right: 0.12rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.con2_form p .tongyiren.active::after {
  content: "";
  width: 0.17rem;
  height: 0.17rem;
  border-radius: 50%;
  background: #f39700;
}

.c2-logo {
  height: .59rem;
  text-align: right;
  padding-right: .34rem;
  overflow: hidden;
}

.c2-logo img {
  display: inline-block;
  height: 100%;
  width: auto;
}

.c2-tit {
  width: 100%;
  height: auto;
  display: block;
  margin: 0.4rem auto .66rem;
}

.c2-bot {
  display: block;
  width: 100%;
  height: auto;
  margin-top: .2rem;
}

.c2-b-num {
  width: 100%;
  height: auto;
  position: relative;
  width: 4.99rem;
  margin: 0 auto;
  font-size: .25rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: .1rem;
  border-bottom: 1px solid #1057a0;
  color: #4c4948;
}

.c2-b-num b {
  font-weight: bold;
  color: #1057a0;
}

.c2-b-num span {
  padding: .1rem;
}

.con2_t1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: .3rem;
  font-size: .3rem;
  font-weight: bold;
  color: #1057a0;
  margin-top: 0.4rem;
}

.con2_t1_text {
  width: 4.97rem;
  height: 1.13rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: .2rem;
  padding-top: .14rem;
  color: #4c4948;
}

.con2_t1_text span {
  font-size: .26rem;
  padding-left: .2rem;
  height: .42rem;
  display: flex;
  /*  justify-content: center;*/
  align-items: center;
}

.con2_t1_text span em {
  display: block;
  width: .12rem;
}

.con2_tb {
  height: .24rem;
  font-size: .24rem;
  color: #898989;
  font-weight: 100;
  margin-top: .1rem;
}

.con2_jiagou {
  width: 4.97rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2rem auto 0;
}

.con2_jg_tit {
  width: 2.8rem;
  /*  height: 100%;*/
  color: #1057a0;
  font-size: .28rem;
  font-weight: bold;
}

.con2_jg_a {
  width: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.1rem;
  padding-right: .1rem;
}

.con2_jg_a span {
  display: block;
  width: .8rem;
  height: .36rem;
  line-height: .36rem;
  text-align: right;
  padding-right: .41rem;
  color: #898989;
  background: url(../../images/d4/wxz.png) no-repeat right/auto 100%;
}

.con2_jg_a span.active {
  background: url(../../images/d4/xz.png) no-repeat right/auto 100%;
}

.aji {
  height: .36rem;
  line-height: .38rem;
  text-align: right;
  padding-right: .43rem;
  color: #898989;
  background: url(../../images/d4/xz.png) no-repeat right/auto 100%;
  margin-right: .1rem;
}