@font-face {
  font-family: 'FZLTZHJW';
  src: url('@/assets/font/FZLTZHJW.TTF') format('truetype');
}

:root:root {
  --color-primary: #2897E2;
  --van-base-font: 'FZLTZHJW', sans-serif
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--van-base-font)!important;
}


input,
select {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  font-size: 13px !important;
  color: #2D2D2D !important;
  width: 80px;
  text-align: right;
  font-family: var(--van-base-font)!important;
}

input::-webkit-input-placeholder {
  color: rgba(45, 45, 45, 0.40);
  font-size: 13px !important;
  text-align: right;
}

input[type="radio"] {
  background-color: white;
  border: 0.1rem solid rgba(170, 170, 170, 1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 4px white;
  border: 0.1rem solid var(--color-primary);
}

a,
input,
label {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

select:required:invalid {
  color: rgba(45, 45, 45, 0.40) !important;
  position: relative;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}